<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
            src="assets/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{email}}
          </span>
          <span class="user-role">{{role}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Opciones</span>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'administrador'">
            <a href="introandexit">
              <i class="fa fa-book"></i>
              <span>Entrada y Salida</span>
            </a>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'administrador'">
            <a href="reportsadmin">
              <i class="fa fa-file"></i>
              <span>Reportes Admin</span>
            </a>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'empleado'">
            <a href="reportsuser">
              <i class="fa fa-file"></i>
              <span>Reportes Empleado</span>
            </a>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'administrador'">
            <a href="profilesadmin">
              <i class="fa fa-users"></i>
              <span>Empleados</span>
            </a>
          </li>

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="profile">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h3>Modificar Datos Empleado</h3>
      <br>
      <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msgerr">
        <a class="close" (click)="closeAlert()">
          &times;
        </a>
        <h6>{{msgerr}}</h6>
      </div>
      <div class="alert alert-success alert-dismissable fuente-project" *ngIf="msgex">
        <a class="close" (click)="closeAlertEx()">
          &times;
        </a>
        <h6>{{msgex}}</h6>
      </div>
      <form class="form-signin" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-control" id="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name">

          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required"> <label id="error">The name is required </label></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="surname" class="form-control" id="surname"
            [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" placeholder="Surname">

          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required"> <label id="error">The surname is required </label></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="username" class="form-control" id="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username">

          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required"> <label id="error">The username is required </label></div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" id="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required"> <label id="error">The password is required </label></div>
          </div>
        </div>
        <div class="form-group">
          <label for="roleSelect">Select Role</label>
          <select formControlName="role" class="form-control" id="role"
            [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
            <option value="administrador">Administrador</option>
            <option value="empleado">Empleado</option>
          </select>

          <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors.required"> <label id="error">The role is required </label></div>
          </div>
        </div>
        <br>
        <button class="btn btn-md btn-primary " type="submit">Modificar</button>
      </form><!-- /form -->
    </div>
  </main>
  <!-- page-content" -->
</div>