<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
            src="assets/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{email}}
          </span>
          <span class="user-role">{{role}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Opciones</span>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'administrador'">
            <a href="introandexit">
              <i class="fa fa-book"></i>
              <span>Entrada y Salida</span>
            </a>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'administrador'">
            <a href="reportsadmin">
              <i class="fa fa-file"></i>
              <span>Reportes Admin</span>
            </a>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'empleado'">
            <a href="reportsuser">
              <i class="fa fa-file"></i>
              <span>Reportes Empleado</span>
            </a>
          </li>
          <li class="sidebar-dropdown" *ngIf="role === 'administrador'">
            <a href="profilesadmin">
              <i class="fa fa-users"></i>
              <span>Empleados</span>
            </a>
          </li>

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="profile">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">

      <h3>Reportes entradas y salidas empleados</h3>
      <br>
      <button type="button" class="btn btn-primary" (click)="generatePDF()">Download Pdf</button>
      <br>
      <br>
      <div id="content" #content>
        <table class="table table-striped" id="contentToConvert">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Fecha</th>
              <th scope="col">Observacion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listEmployees ; index as i">
              <td>{{item.name}}</td>
              <td>{{item.surname}}</td>
              <td>{{item.email}}</td>
              <td>{{item.date | date:'M/d/yyyy HH:mm:ss'}}</td>
              <td>{{item.observation}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- page-content" -->
</div>